In [1]:
import sys, os
sys.path.insert(0,os.path.abspath('..'))
from scripts.project_functions import *
sns.set_theme(style="whitegrid")

In [2]:
df = load_and_process(r"..\..\data\raw\database.csv")
df

C:\ProgramData\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Agency Type,City,State,Year,Month,Incident,Crime Solved,Victim Sex,Victim Age,Victim Race,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Relationship,Weapon,Victim Count,Perpetrator Count
0,Municipal Police,Anchorage,Alaska,1980,1,1,Yes,Male,14,Native American/Alaska Native,Male,15,Native American/Alaska Native,Acquaintance,Blunt Object,0,0
1,Municipal Police,Anchorage,Alaska,1980,3,1,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0
2,Municipal Police,Anchorage,Alaska,1980,3,2,No,Female,30,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Unknown,0,0
3,Municipal Police,Anchorage,Alaska,1980,4,1,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0
4,Municipal Police,Anchorage,Alaska,1980,4,2,No,Female,30,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Unknown,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631674,Sheriff,Park,Wyoming,2014,1,1,No,Male,30,White,Unknown,0,Unknown,Unknown,Handgun,0,0
631675,Sheriff,Sheridan,Wyoming,2014,6,1,Yes,Male,62,White,Male,57,White,Acquaintance,Handgun,0,0
631676,Municipal Police,Sheridan,Wyoming,2014,9,1,Yes,Female,0,Asian/Pacific Islander,Female,22,Asian/Pacific Islander,Daughter,Suffocation,0,0
631677,Sheriff,Sublette,Wyoming,2014,12,1,Yes,Male,55,White,Male,31,White,Stranger,Knife,0,1
631678,Municipal Police,Sweetwater,Wyoming,2014,9,1,Yes,Female,0,White,Female,24,White,Daughter,Blunt Object,0,1

In [ ]:
df.describe(include=[object]).T

## EDA
For this EDA I will be checking the weapon used with relation to the sex of the perpetrator to see if there are any interesting correlations.

In [3]:
df2 = df[['Perpetrator Sex','Weapon']]
df2['male_weaponcount']=df2[]
#get count of murders by male with every weapon
#get count of murders by females with every weapon
#plot those mfs
df2

       Perpetrator Sex         Weapon
0                 Male   Blunt Object
1                 Male  Strangulation
2              Unknown        Unknown
3                 Male  Strangulation
4              Unknown        Unknown
...                ...            ...
631674         Unknown        Handgun
631675            Male        Handgun
631676          Female    Suffocation
631677            Male          Knife
631678          Female   Blunt Object

[631679 rows x 2 columns]

In [ ]:
sns.countplot(data=df2, y='Weapon', hue = 'Perpetrator Sex',palette="Greens_d")

In [ ]:
sns.boxplot(data=df2, y='Weapon',x=df.Weapon.value_counts() ,hue = 'Perpetrator Sex',palette="Greens_d")